<div class="container">
  <h2>
    Persona
  </h2>
  <form>
      <div class="form-group">
          <label for="nombrePersona">Nombre Persona</label>
          <input type="text" class="form-control" id='nombrePersona' placeholder="Nombre de la persona" [(ngModel)]="persona.first_name" name="nombrePersona">
        </div>
        <div class="form-group">
          <label for="apellidoPersona">Apellido Persona</label>
          <input type="text" class="form-control" id='apellidoPersona' placeholder="Apellido de la persona" [(ngModel)]="persona.last_name" name="apellidoPersona">
        </div>
  </form>

</div>
     